{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://getbootstrap.com/favicon.ico">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Bootstrap template for blog -->
  <link href="{% static 'blog/css/site-template.css' %}" rel="stylesheet"> {% block custom_head %}{% endblock %}

</head>

<body>

  {% block header %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'blog:main' %}">VK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path|slice:" :4 " == '/now' %}active{% endif %}" href="{% url 'blog:now' %}">Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path|slice:" :6 " == '/posts' %}active{% endif %}" href="{% url 'blog:posts' %}">Posts</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link {% if request.path|slice:" :8 " == '/contact' %}active{% endif %}" href="{% url 'blog:contact' %}">Contact</a>
</li>-->
      </ul>
    </div>
  </nav>
  {% endblock %} {% block content %}
  <main role="main" class="container">
    <div class="site-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.
        <br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

  </main>
  <!-- /.container -->
  {% endblock %} {% block footer %}
  <hr>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <br>
          <br>
          <p class="copyright text-muted">Copyright © Valeriy Kundas 2018</p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
</body>

</html>