html, body { 
    height: 100%; 
    min-height: 100%; 
    width: 100%;
    max-width: 100%;
    margin: 0; 
    padding: 0; 
    font-family: 'PT Sans', sans-serif;
    overflow: hidden;
}

.header {
    display: inline-flex;
    height: 12vh;
    width: 100%;
}

.post { 
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    /*margin: 10px 15% 50px 30%;  */
}

.title { 
    font-size: 25px; 
    text-align: center; 
    margin-bottom: 5px; 
}

.roles { 
    list-style-type: none; 
}

.menu { 
    list-style-type: none;   
}

.startmenu {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.startmenu .menu-item {
    margin: 1vmin;
    font-size: 5vh;
}

.menu-item a {
    text-decoration: none;
    color: #232a2d;
}

.startmenu .menu-item a:hover {
    background-color: rgb(211, 246, 248);
    border-bottom: 0.3vmin solid greenyellow;
}

.header .menu {
    float: left;
    margin-left: 5%;
    width: 15%;
    height: 100%;
    margin-top: 0;
    display: inline-flex;
}

.header .menu .menu-item {
    font-size: 1.3em;
    margin: auto;
}

.bio {
    display: block;
    margin: auto;
    width: 40%;
    text-align: center;
}
