{% extends "base.html" %} {% block title %}About me{% endblock %} {% block content %}
<main role="main" class="container">
    <div class="starter-template">
        <img src="https://avatars3.githubusercontent.com/u/11996384?s=400&u=7f0f3f536281e35944a2b505503e3341c7f51c02&v=4" alt="avatar"
            height="150vh">
        <h1>Valeriy Kundas</h1>
        <p class="lead">
            Human<br>Programmer<br>Environmentalist
        </p>
    </div>
</main>
{% endblock %} 

{% block active_about %}active{% endblock %}